Tenta melhorar a questão de região não definida

In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import kagglehub
import subprocess
import os

In [34]:
fonte_dados = 'a'  # 'a', 'c', 'b'

if fonte_dados == 'a':
    df = pd.read_csv('aluguel_blumenau_25_10_27.csv')
elif fonte_dados == 'c':
    df = pd.read_csv('compra_blumenau_25_10_27.csv')
df

,Localidade,Endereco,M2,Preco,R$/M2,Latitude,Longitude,Tipo,Quarto,Banheiro,Vaga
0,Imóvel para alugar com 210 m² em Salto do Nort...,Rua Doutor Pedro Zimmermann,210.0,7500.0,35.714286,-26.859167,-49.086042,Imóvel,0,0,0
1,"Apartamento para alugar com 108 m², 3 quartos,...",Rua Benjamin Constant,108.0,2900.0,26.851852,-26.889516,-49.097449,Apartamento,3,2,2
2,Galpão/Depósito/Armazém para alugar com 450 m²...,NaN,450.0,7600.0,16.888889,-27.079758,-48.910080,Galpão/Depósito/Armazém,0,0,0
3,"Apartamento para alugar com 46 m², 2 quartos, ...",Rua Dois de Setembro,46.0,1400.0,30.434783,-26.876203,-49.087410,Apartamento,2,1,0
4,"Casa para alugar com 180 m², 5 quartos, 2 banh...",Rua João Gomes,180.0,2500.0,13.888889,-26.899939,-49.093511,Casa,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...
3121,"Apartamento para alugar com 45 m², 1 quarto, 1...",NaN,45.0,1700.0,37.777778,-27.079758,-48.910080,Apartamento,1,1,0
3122,"Apartamento para alugar com 45 m², 1 quarto, 1...",NaN,45.0,1950.0,43.333333,-27.079758,-48.910080,Apartamento,1,1,0
3123,"Apartamento para alugar com 45 m², 1 quarto, 1...",NaN,45.0,1950.0,43.333333,-27.079758,-48.910080,Apartamento,1,1,0
3124,"Apartamento para alugar com 90 m², 2 quartos, ...",NaN,90.0,1790.0,19.888889,-27.079758,-48.910080,Apartamento,2,2,1
3125,"Sala/Conjunto para alugar com 47 m², 1 banheir...",NaN,47.0,2200.0,46.808511,-27.079758,-48.910080,Sala/Conjunto,0,1,2

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3126 entries, 0 to 3125
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Localidade  3126 non-null   object
 1   Endereco    1572 non-null   object
 2   M2          3126 non-null   float64
 3   Preco       3126 non-null   float64
 4   R$/M2       3126 non-null   float64
 5   Latitude    3104 non-null   float64
 6   Longitude   3104 non-null   float64
 7   Tipo        3126 non-null   object
 8   Quarto      3126 non-null   int64
 9   Banheiro    3126 non-null   int64
 10  Vaga        3126 non-null   int64
dtypes: float64(5), int64(3), object(3)
memory usage: 268.8+ KB

In [36]:
df.isnull().sum()

Localidade       0
Endereco      1554
M2               0
Preco            0
R$/M2            0
Latitude        22
Longitude       22
Tipo             0
Quarto           0
Banheiro         0
Vaga             0
dtype: int64

In [46]:
df[df['Endereco'].isnull()]

,Localidade,Endereco,M2,Preco,R$/M2,Latitude,Longitude,Tipo,Quarto,Banheiro,Vaga
2,Galpão/Depósito/Armazém para alugar com 450 m²...,NaN,450.0,7600.0,16.888889,-27.079758,-48.91008,Galpão/Depósito/Armazém,0,0,0
18,"Apartamento para alugar com 110 m², 2 quartos,...",NaN,110.0,1900.0,17.272727,-27.079758,-48.91008,Apartamento,2,3,1
20,"Apartamento para alugar com 76 m², 2 quartos, ...",NaN,76.0,2400.0,31.578947,-27.079758,-48.91008,Apartamento,2,3,2
24,"Cobertura para alugar com 68 m², 2 quartos, 3 ...",NaN,68.0,3500.0,51.470588,-27.079758,-48.91008,Cobertura,2,3,1
25,"Apartamento para alugar com 73 m², 1 quarto, 3...",NaN,73.0,1590.0,21.780822,-27.079758,-48.91008,Apartamento,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...
3121,"Apartamento para alugar com 45 m², 1 quarto, 1...",NaN,45.0,1700.0,37.777778,-27.079758,-48.91008,Apartamento,1,1,0
3122,"Apartamento para alugar com 45 m², 1 quarto, 1...",NaN,45.0,1950.0,43.333333,-27.079758,-48.91008,Apartamento,1,1,0
3123,"Apartamento para alugar com 45 m², 1 quarto, 1...",NaN,45.0,1950.0,43.333333,-27.079758,-48.91008,Apartamento,1,1,0
3124,"Apartamento para alugar com 90 m², 2 quartos, ...",NaN,90.0,1790.0,19.888889,-27.079758,-48.91008,Apartamento,2,2,1
3125,"Sala/Conjunto para alugar com 47 m², 1 banheir...",NaN,47.0,2200.0,46.808511,-27.079758,-48.91008,Sala/Conjunto,0,1,2